<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.mapper.BoardMapper">
	<select id="selectBoardList" parameterType="int"
		resultType="board">
		select * from (select ceil(rownum / 15) as pageNo, b.* from
		board_view b)
		where pageNo = #{pageNo}
	</select>
	<select id="selectBoardCount" resultType="int">
		select count(*) from
		board_view
	</select>
	<select id="selectBoardDTO" parameterType="int"	resultType="board">
		select * from board_view where bno = #{bno}
	</select>
	<select id="selectCommentDTO" parameterType="int" resultType="comment">
		select * from comment_view where bno = #{bno}
	</select>
	<select id="selectFileList" parameterType="int" resultType="file">
		select * from board_file where bno = #{bno} 
	</select>
	<update id="addBoardCount" parameterType="int">
		update board set bcount = bcount + 1 where bno = #{bno}
	</update>
	<delete id="deleteBoard" parameterType="int">
		delete from board where bno = #{bno}
	</delete>
	<insert id="insertComment" parameterType="comment">
		insert into board_comment(cno, bno, writer, content) values(comment_cno.nextval, #{bno}, #{writer}, #{content})
	</insert>
	<insert id="plusLike">
		insert into board_like values(#{bno}, #{id})
	</insert>
	<delete id="minusLike">
		delete from board_like where bno=#{bno} and id=#{id}
	</delete>
	<insert id="plusDislike">
		insert into board_dislike values(#{bno}, #{id})
	</insert>
	<delete id="minusDislike">
		delete from board_dislike where bno=#{bno} and id=#{id}
	</delete>
	
	<select id="selectBoardNo" resultType="int">
		select board_bno.nextval from dual
	</select>
	
	<insert id="insertBoard" parameterType="board">
		insert into board(bno, title, writer, content) values(#{bno}, #{title},#{writer},#{content})
	</insert>
	<insert id="fileUpload" parameterType="file">
		insert into board_file values(#{bno},#{fno},#{path})
	</insert>
	<select id="fileDown" parameterType="file" resultType="String">
		select path from board_file where fno=#{fno} and bno=#{bno}
	</select>
	<insert id="commentPlusLike" parameterType="comment">
		insert into board_comment_like values(#{cno}, #{writer})
	</insert>
	<delete id="commentMinusLike" parameterType="comment">
		delete from board_comment_like where cno=#{cno} and writer=#{writer}
	</delete>
	<insert id="commentPlusDislike" parameterType="comment">
		insert into board_comment_dislike values(#{cno}, #{writer})
	</insert>
	<delete id="commentMinusDislike" parameterType="comment">
		delete from board_comment_dislike where cno=#{cno} and writer=#{writer}
	</delete>
	<delete id="commentDelete" parameterType="comment">
		delete from board_comment where cno=#{cno} and bno=#{bno}
	</delete>
	<select id="selectBoardImageNo" resultType="int">
		select bi_no_seq.nextval from dual
	</select>
	<insert id="insertBoardImage" parameterType="map">
		insert into board_image values(#{fno}, #{path})
	</insert>
	<select id="selectImageFile" parameterType="int" resultType="String">
		select path from board_image where bi_no = #{fno}
	</select>
	<!-- <select id="selectMaxRN" resultType="int">
		select max(rownum) from board
	</select>
	<select id="selectMinRN" resultType="int">
		select min(rownum) from board
	</select>
	<select id="selectPNBoard" resultType="int" parameterType="int">
		select bno from (select rownum rn, board.* from board order by bno desc) where rn=#{rn}
	</select>
	<select id="selectRownum" resultType="int" parameterType="int">
		select rn from (select rownum rn, board.* from board order by bno desc) where bno=#{bno}
	</select> -->
	<select id="nextBoard" resultType="int" parameterType="int">
		select next from (select nvl(lag(bno) over (order by bno desc),-1) as next, b.* from board b) where bno=#{bno}
	</select>
	<select id="prevBoard" resultType="int" parameterType="int">
		select prev from (select nvl(lead(bno) over (order by bno desc),-1) as prev, b.* from board b) where bno=#{bno}
	</select>
</mapper> 







